extends index.pug

block content
  .container.mt-5
    h1.text-center Lista de Usuarios
    if usuarios.length
      table.table.table-striped.table-hover
        thead
          tr
            th Nombre
            th Apellidos
            th DNI
            th Rol
        tbody
          each usuario in usuarios
            tr
              td= usuario.nombres
              td= usuario.apellidos
              td= usuario.dni
              td= usuario.rol
              td= usuario.correo
    else
      p.text-center No hay usuarios disponibles.
    
  