extends index

block content
  h1.text-center.mt-4 Cursos, Materias, Alumnos y Notas

  table.table.table-bordered.mt-4
    thead
      tr
        th Curso
        th Materia
        th Alumno
        th DNI
        th Nota
    tbody
      each materia in materias
        each estudiante in materia.curso.estudiantes
          tr
            td= materia.curso.grado + ' ' + materia.curso.division
            td= materia.nombre
            td= estudiante.nombres + ' ' + estudiante.apellidos
            td= estudiante.dni
            td= estudiante.nota  
